TBANK_TERMINAL_KEY=1699985942479DEMO
TBANK_PASSWORD=your_terminal_password
TBANK_API_URL=https://securepay.tinkoff.ru/v2
PUBLIC_BASE_URL=http://127.0.0.1:8000
DATABASE_PATH=data/payments.db
ADMIN_TOKEN=
